apiVersion: v1
kind: Secret
metadata:
  name: musinsa-secret
type: Opaque
data:
  MUSINSA_SRE_AWS_ACCESS_KEY_ID: <base64-encoded-access-key>
  MUSINSA_SRE_AWS_SECRET_ACCESS_KEY: <base64-encoded-secret-key>
